*{margin:0; padding:0;}
li{list-style: none;}
a{text-decoration: none;}

body{color:#222;}
.clearfix::after {
    content:'';
    display: block;
    clear:both;
    height:0;
}


header{
    height:74px;
    background-color: #161b1e;
}

header h1{
    height:74px; 
    float:left; 
    line-height: 74px;
    width:200px;
    text-align: center;
    color:#fff;
    letter-spacing: 5px;
    font-weight: normal;
}

header .category{
    height:36px; 
    margin:19px 0;
    float:left;
}

header .category > li{float:left;}
header .category > li a{
    display: block;
    padding: 0 20px;
    height:36px;
    line-height: 36px;
    color:#fff;
}

header .category > li:hover a{background-color: #96da47;}




header .category > li{position:relative;} 
.sub{
    background-color: #282d30;
    padding:20px;
    position:absolute;
    top:100%;
    left:0;
    width:500px;
    border-top:1px solid #96da47;
    display: none;
}
.submenu{
    float:left;
    width: 25%;
}
.submenu li{}
.submenu li a{
    color:#eee;
    display: block;
    height:28px;
    line-height:28px;
    font-size:14px;
}
.submenu li a:hover {color:#96da47}
.submenu li .subtitle{
    color:#fff;
    margin-bottom: 10px;
}






#dealSection{
    padding:40px 0;
    background: #96da47;
}
.deal{
    height:46px;
    text-align: center;
    line-height: 46px;
}
.deal > div {
    display :inline-block;
    vertical-align: middle;
}
.deal_title{
    color:#fff;
    font-family: impact;
    font-size:30px;
}
.dash{
    width:40px;
    height:1px;
    background: #222;
}
.deal_desc{font-size: 20px;}
.deal_btn{
    width:140px;
    background: #fff;
    color:#222;
    font-weight: bold;
    margin-left: 20px;
    font-size:12px;
    cursor:pointer;
    position:relative;
}

.deal_btn::after {
    content:'View all offers'; /*가상선택자의 필수속성!!*/
    display: block; 
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    color:#fff;
    background: #222;
/*    z-index: -1;*/
    
    transform:scaleY(0);
    transition:all .4s ease;
    transform-origin: bottom; /*transform하는 기준을 아래로 잡는다.*/
}

/*after에는 hover를 할 수 없고, deal-btn에 hover해야 함.*/
.deal_btn:hover::after{
    transform:scaleY(1)
}





#productView{padding-top:80px; width:1200px; margin:0 auto;}
.product_title{
    text-align: center;
    font-family: impact;
    font-size: 30px;
}
.under_line{
    margin: 20px auto 30px;
    width:30px;
    height:1px;
    background-color: #ccc;
}



.view_item{width:25%; float:left;}
.view_inner{margin:0 15px;}
.view_inner .dp, .view_inner .motion{width:100%}
.thumnails {position:relative;}
.thumnails img {display: block;}
.thumnails .motion {position:absolute; top:0; left:0;}

.image{position:relative;}
.block {position:absolute; bottom:0; width:100%; padding:3px 2px; box-sizing: border-box;}
.block_list{}

